@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    font-family: "Open Sans", sans-serif;
}

.layout {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    background-color: white;
    border-collapse: collapse;
}

.layout tr td {
    padding: 20px;
    vertical-align: top;
    background: #f8f8f8;
    border: 1px solid #e1e1e1;
}

.header {
    font-size: 30px;
}

.footer {
    text-align: center;
}

.sidebarHeader {
    font-size: 20px;
}

.sidebar ul {
    padding-left: 0px;
    list-style: none;

}

a, a:visited {
    font-weight: bold;
    color: #225ef1;
    text-decoration: none;
}

a:hover {
    color: #113ca2;
    text-decoration: underline;
}

p {
    line-height: 1.4;
}

h2 {
    color: #225ef1;
}